.reveal section img {
    border: 0 !important;
    background: none;
    box-shadow: none;
}

.reveal pre {
    box-shadow: none;
}

ul pre {
    width: 100% !important;
}

table.summary {
    margin-left: auto !important;
    margin-right: auto !important;
    border-collapse: collapse;
    width: 100% !important;
}

table.summary td {
    border: 1px solid !important;
    padding: 10px !important;
}

table.summary tbody td {
    font-size: 1.5rem;
}

.fragment.small, p.small {
    font-size: 1.5rem;
}

